node_modules/
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
build
.cache
_site/
isparta.github.io/
script/node_modules
script/build
script/cache

src/renderer/util/processor/pngs2apng.js

src/renderer/util/processor/pngs2apng.js
