src/node_modules
src/app/data.php
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
build
.cache
_site/
isparta.github.io/
script/node_modules
script/build
script/cache
