.thumbnail {
	width: 135px;
	height: 135px;
	display: block;
	overflow: hidden;
	float: left;
	margin: 8px;
	border: 2px solid #888;
}

.thumbnail img {
	width: 135px;
	min-height: 135px;
}

select.folder_select {
	width: 200px;
}